.App {
    width: 100%;
    background: #5c5874c9;
    /* position: absolute; */
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
#namefont{
    font-family: 'Agustina Regular';
    color: beige;
}
.headerName {
    font-size: 20px;
    padding: 0px 20px;
    color: beige;
}

.logoName {
    /* display: block; */
    /* float: left; */
    font-size: 1.6em;
    text-decoration: none;
    margin-top: 10px;
    line-height: normal;
    cursor: pointer;
    
}

.rightSide {
    display: flex;
    padding-right: 10px;
}

.menuLine{
    display: none;
    padding-right: 0px;
}

.menuIcon {
    display: none;
}


@media(max-width: 980px) {
    .App {
        background: #5c5874c9;
        /* width: auto; */
        /* position: static; */
        display: inline-table;
        /* justify-content: right; */
        /* transition: opacity 500ms ease-in */
    }
    .headerName {
        font-size: 20px;
        padding: 0px 20px;
        color: beige;
    }
    .rightSide {
        display: none;
        padding-right: 0px;
    }

    .menuLine{
        display: inline;
        padding-right: 0px;
    }
    
    .menuIcon {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        margin: 16px 20px 0px 0px;
        height: 34px;
        width: 36px;
        cursor: pointer;
    }
}

@media(max-width: 370px) {
    .headerName {
        font-size: 18px;
        padding: 0px 12px;
        color: beige;
    }
    
}

/* skill component */

.skill {
    background-color: rgba(255, 255, 255, 0.924);
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px
}

.skillHeading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0px;
    color: black;
    padding-top: 20px;
}

.skillEM {
    color: rgb(49, 49, 49);
    font-size: 20px;
    margin-top: 5px;
    width: 90%;
    text-align: center;
}

.skillCardMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    margin-top: 26px;
}

.skillCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 4%;
}

.skillCardImg {
    background-color: #c8c4cf;
    border-radius: 50%;
    overflow: hidden;
}

.skillImg {
    height: 80px;
    padding: 12px;
}

.skillCardName {
    font-size: 24px;
    font-weight: bold;
    /* margin: 10px; */
    text-align: center;

}

.skillCardDetail {
    font-size: 18px;
    margin: 0px;
    text-align: center;
    font-family: Times, serif;
}

@media screen and (max-width: 740px) {
    .skillCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        margin: 12% 5%;
        transition: 1s;
    }
    
}

@media screen and (max-width: 370px) {
    .skillEM {
        font-size: 18px;
        text-align: center;
    }

}

/* About component  */

.about {
    width: 100%;
    background: #5c5874ea;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.aboutHeading {
    font-size: 36px;
    font-weight: bold;
    margin: 60px 0px;
    color: beige;
}

.profileImageDiv {
    background-color: #c8c4cf;
    border-radius: 100%;
    overflow: hidden;
    margin: 36px;
}

.profileImage {
    height: 200px;
    width: 200px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

.languges {
    font-size: 18px;
    color: lightgrey;
    /* font-family: ita; */
    margin-top: 0px;
    font-weight: 400;
    margin-bottom: 40px;
}

.aboutDetail {
    width: 70%;
    text-align: center;
    font-size: 18px;
    color: lightgrey;
}

/* social */

.social {
    display: flex;
    position: fixed;
    z-index: 100;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.socialIcon {
    width: 36px;
    height: 36px;
    margin: 7px 8px 7px 12px;
}

.socialIcon:hover {
    cursor: pointer;
    transition: .2s;
    transform: scale(1.2);
    overflow: hidden;
    opacity: .9;
}

@media(max-width: 980px) {
    .social {
        display: flex;
        position: fixed;
        z-index: 100;
        cursor: pointer;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        right: 0;
    }
}